:root{
  --primary-color: #340244;
  --secondary-color: #680488;
  --third-color: #7303c0;
  --forth-color: #0051a1;
  --white-color: #ffffff;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}
::selection{
  background-color: black;
}
/* *{ 
  border: 1px  solid  red ;
} */
.container{
  width: 88%;
  max-width: 1800px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container{
    width: 74%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 98%;
  }
}
/* ================================================================== */
/*                  NAV BAR */
/* ================================================================== */
header {
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5.5rem;
}
@media screen and (max-width: 767px) {
  header .container {
      height: 3.5rem;
  }
}
header nav{
  display: flex;
  align-items: center;
  height: 100%;
} 
header .logo h1 {
  color: var(--secondary-color);
  cursor: pointer;
}
header nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}
header nav ul li {
  width: 6.5rem;
}
header nav ul li a {
  color: black;
  font-size: 1.3rem;
}
header nav ul li .active,
header nav ul li a:hover{ 
  color: var(--third-color);
  transition: .3s;
} 
/* ================================================================== */
/*                  App  */
/* ================================================================== */
#App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5.5rem;
  height: 100vh;
}
#App .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#App .container .Describtion{
  width: 35%;
}
#App .container .Describtion h3{
  color: var(--forth-color);
  font-size: 1.5rem;
  font-weight: 500;
}
#App .container .Describtion h1{
  font-size: 3rem;
  font-weight: 500;
}
#App .container .Describtion p{
  margin-top: 1rem;
}
#App .container .Describtion .more{
  color: var(--third-color);
  cursor: pointer;
  margin-top: 1rem;
}
#App .container .Describtion .btn{
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 1.5rem;
}
#App .container .Describtion .btn button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
}
#App .downloadApp{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#App .downloadApp img{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
/* ================================================================== */
/*                  companies  */
/* ================================================================== */
.companies{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 1rem;
}
.companies .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.companies img{
  max-width: 120px;
}
/* ================================================================== */
/*                  pay  */
/* ================================================================== */
#Pay{
  display: flex;
  justify-content: center;
  height: 100vh;
}
#Pay .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Pay .container .image img{
  width: 90%;
}
#Pay .container .Describtion{
  width: 50%;
}
#Pay .container .Describtion h3{
  color: var(--forth-color);
  font-size: 1.5rem;
  font-weight: 500;
}
#Pay .container .Describtion h1{
  font-size: 3rem;
  font-weight: 500;
}
#Pay .container .Describtion h1 span{
  color: var(--third-color);
}
#Pay .container .Describtion p{
  margin-top: 1rem;
}
#Pay .container .Describtion .more{
  color: var(--third-color);
  cursor: pointer;
  margin-top: 1rem;
}
#Pay .container .Describtion .btn{
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 1.5rem;
}
#Pay .container .Describtion .btn button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
}
/* ================================================================== */
/*                  cards  */
/* ================================================================== */
.cards{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 1rem;
}
.cards .container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.cards img{
  max-width: 120px;
}
/* ================================================================== */
/*                  Pos  */
/* ================================================================== */
#Pos{
  display: flex;
  justify-content: center;
  height: 100vh;
}
#Pos .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#Pos .container .Describtion{
  width: 35%;
}
#Pos .container .Describtion h3{
  color: var(--forth-color);
  font-size: 1.5rem;
  font-weight: 500;
}
#Pos .container .Describtion h1{
  font-size: 3rem;
  font-weight: 500;
}
#Pos .container .Describtion h1 span{
  color: var(--third-color);
}
#Pos .container .Describtion p{
  margin-top: 1rem;
}
#Pos .container .Describtion .more{
  color: var(--third-color);
  cursor: pointer;
  margin-top: 1rem;
}
#Pos .container .Describtion .btn{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
#Pos .container .Describtion .btn button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  align-items: center;
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 12rem;
  height: 2rem;
}
/* ================================================================== */
/*                  Developers  */
/* ================================================================== */
#Developers{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
  height: 100vh;
}
#Developers .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#Developers .container .image img{
  width: 100%;
}
#Developers .container .Describtion{
  width: 30%;
}
#Developers .container .Describtion h3{
  color: #c29acf;
  font-size: 1.5rem;
  font-weight: 500;
}
#Developers .container .Describtion h1{
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 500;
}
#Developers .container .Describtion p{
  color: var(--white-color);
  margin-top: 1rem;
}
#Developers .container .Describtion .more{
  color: #c29acf;
  cursor: pointer;
  margin-top: 1rem;
}
#Developers .container .Describtion .btn{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
#Developers .container .Describtion .btn button{
  background-image:  linear-gradient(to right, var(--forth-color), var(--third-color)) ;
  color: var(--white-color);
  align-items: center;
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 12rem;
  height: 2rem;
}

/* ================================================================== */
/*                  About  */
/* ================================================================== */
#About{
  display: flex;
  justify-content: center;
  height: 100vh;
}
#About .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#About .container .image img{
  width: 90%;
}
#About .container .Describtion{
  width: 35%;
}
#About .container .Describtion h3{
  color: var(--forth-color);
  font-size: 1.5rem;
  font-weight: 500;
}
#About .container .Describtion h1{
  font-size: 3rem;
  font-weight: 500;
}
#About .container .Describtion p{
  margin-top: 1rem;
}
#About .container .Describtion .more{
  color: var(--third-color);
  cursor: pointer;
  margin-top: 1rem;
}
#About .container .Describtion .btn{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
#About .container .Describtion .btn button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
}
/* ================================================================== */
/*                  footer  */
/* ================================================================== */
.footer {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 70px 0 0 ;
}
.footer .container {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-evenly;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: var(--white-color);
  margin-bottom: 30px;
}
.footer .box .line i {
  font-size: 25px;
  color: var(--white-color);
  margin-right: 1rem;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--white-color);
}
.footer .copyright p {
  align-items: center;
  padding: 12px;
}
.footer .copyright .social {
  display: flex;
  justify-content: space-between;
}
.footer .copyright .social li a {
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .box .line {
    flex-direction: column;
  }
  .footer .container{
    flex-direction: column;
  }
  .footer .box .line{
    flex-direction: row;
  }
}