@import url('https://fonts.googleapis.com/css2?family=Inter:slnt@-10..0&display=swap');
/* global */
:root{
  --primary-color: #4A0360;
  --secondary-color: #680488;
  --third-color: #7303c0;
  --forth-color: #0051a1;
  --white-color: #ffffff;
  --body-font: "Inter", sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  /* list-style: none; */
}
body{
  font-family: var(--body-font);
}
::selection{
  background-color: #ab9cab;
}
/* *{ 
  border: 1px  solid  var(--forth-color) ;
} */
.container{
  width: 95%;
  max-width: 1800px;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contents{
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.Describtion{
  width: 35%;
}
h3{
  color: var(--forth-color);
  font-size: 1rem;
  font-weight: 500;
}
h1{
  font-size: 2rem;
  font-weight: 500;
}
p{
  margin-top: 1rem;
  line-height: 1.5rem;
}
.Describtion h1 span{
  color: var(--third-color);
}
.more{
  color: var(--third-color);
  cursor: pointer;
  margin-top: 1rem;
}
.more:hover{
  text-decoration: underline;
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: .5rem;
}
.btn button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
}
/* make the website responsive */
@media screen and (max-width: 1024px) {
  .container{
    width: 74%;
  }
  header nav ul li{
    display: none;
  }
  .Describtion{
    width: fit-content;
    margin-top: 5rem;
  }
  #App{
    margin-top: 9rem;
  }
  .contents .container{
    justify-content: center;
    flex-direction: column;
  }
  #App .container{
    flex-direction: column-reverse;
  }
  #App .downloadApp{
    margin-bottom: 4rem;
  }
  #Pos .container{
    flex-direction: column-reverse;
  }
  #About .container{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 98%;
  }
  .footer {
    text-align: center;
  }
  .footer .box .line {
    flex-direction: column;
  }
  .footer .container{
    flex-direction: column;
  }
  .footer .box .line{
    flex-direction: row;
  }
}
/* home page */
header {
  background-color: var(--white-color);
  box-shadow: 0 0 12px hsla(220, 32%, 8%, .3);
  border-radius:0 0 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: .5rem;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
header .logo {
  cursor: pointer;
}
header nav{
  display: flex;
  align-items: center;
  height: 100%;
} 
header nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}
header nav ul li {
  width: 6.5rem;
  list-style: none;
}
header .container .links .button button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 25px;
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  font-size: 17px;
  font-weight: 400;
}
header .container .links .btn button i{
  margin-left: 8px;
}
header .container .links .img img{
  height: 2rem;
}
/* header .container nav .nav_toggle{
  position: relative;
  width: 2rem;
  height: 2rem;
}
header .container nav .nav_toggle i{
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, trasform .4s;
} */
#App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
}
#App .downloadApp{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
}
#App .downloadApp img{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.companies{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 1rem;
  margin: 4rem 0;
}
.companies img{
  max-width: 120px;
}
#Pay .container .image img{
  width: 90%;
}
#Pos .container .Describtion .btn button{
  align-items: center;
  width: 12rem;
}
#Developers{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}
#Developers .container .Describtion h3{
  color: #c29acf;
}
#Developers .container .Describtion h1{
  color: var(--white-color);
}
#Developers .container .Describtion p{
  color: var(--white-color);
}
#Developers .container .Describtion .btn button{
  background-image:  linear-gradient(to right, var(--forth-color), var(--third-color)) ;
  align-items: center;
  width: 12rem;
}
#About .container .image img{
  width: 80%;
}
.footer {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 4rem 0 0 0;
}
.footer .container {
  margin-bottom: 4rem;
}
.footer .container .allReferences{
  display: flex;
  flex-direction: column;
}
.footer .container .allReferences h2{
  color: var(--white-color);
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
.footer .container .allReferences .references{
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
.footer .container .allReferences .references a{
  color: #eee;
  font-size: 1rem;
  transition: .3s;
}
.footer .container .allReferences .references a:hover{
  text-decoration: underline;
}
.footer .line {
  display: flex;
  align-items: center;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.footer .line i {
  font-size: 25px;
  color: var(--white-color);
  margin-right: 1rem;
}
.footer .copyright {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--white-color);
}
.footer .copyright img{
  margin-bottom: 20px;
}
.footer .copyright p {
  padding: 1rem;
}
.footer .copyright .social {
  display: flex;
  justify-content: space-between;
}
.footer .copyright .social li{
  list-style: none;
}
.footer .copyright .social li a {
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
}
/* about page */
.lines{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 1rem;
  height: 6rem;
}
.lines .container{
  align-items: center;
  padding: 1rem 0 1rem 0;
  width: 100vw;
  font-size: 1rem;
  font-weight: 400;
}
.lines .container h1{
  text-align: center;
  color: var(--white-color);
}
#general{
  display: flex;
  flex-direction: row;
}
#general .cont{
  display: flex;
  flex-direction: row;
  margin-top: 9rem;
}
#general .cont .left-content{
  margin-top: 9rem;
  width: 50%;
}
#general .cont .right-content{
  width: 50%;
}
#general .cont .titel{
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  width: 100%;
  height: 6rem;
  padding: 1.5rem 0 ;
}
#general .cont .titel h1{
  color: var(--white-color);
  font-size: 2rem;
  text-align: center;
}
#general .cont .content{
  padding: 5rem 5rem 0 5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}
#general .cont .image img{
  height: 40rem;
  width: 40rem;  
  padding: 5rem;
  margin: 12px;
}
#values {
  /* width: 100vw; */
  padding: 5rem 0 5rem 0;
}
#values .container .boxes{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3rem;
}
#values .container .box{
  padding: 15px;
  text-align: center;
  border-radius: 22px;
  width: 17rem;
  border: 2px  solid  var(--secondary-color) ;
}
#values .container .boxes h1{
  color: var(--forth-color);
  font-size: 1.7rem;
  font-weight: 200;
}
#values .container .boxes p{
  font-size: 1rem;
  line-height: 1.5;
  margin-top: .7rem;
  padding: 0 1rem ;
}
#partners {
  padding: 5rem 0 5rem 0;
  width: 100%;
}
#partners .container{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#partners .container img{
  margin-left: 1.5rem;
}
#leaders {
  padding: 5rem 0 5rem 0;
  width: 100%;
}
#leaders .container{
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* gap: 1rem; */
}
#leaders .container .leader{
  text-align: center;
  height: 20rem;
  width: 20rem;
}
#leaders .container img{
  padding: 4px;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
}
#leaders .container .leader h2{
  color: var(--third-color);
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
#leaders .container .leader p{
  color: var(--forth-color);
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  #values .container .boxes{
    flex-direction: column;
  }
}
#worldwide{
  padding: 10rem;
  position: relative;
}
#worldwide:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('../assets/images/globe.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#worldwide .container{
   display: flex;
   justify-content: space-around;
}
#worldwide .container .Country{
  text-align: center;
}
#worldwide .container .Country h1{
  color: var(--third-color);
  margin-bottom: .5rem;
  font-size: 3rem;
  font-weight: 400;
}
#worldwide .container .Country p{
  line-height: 1.5;
  color: var(--forth-color);
  font-size: 1.3rem;
}

/* ================================================================== */
/*                  ePay file  */
/* ================================================================== */
.pay{
  padding-top: 10rem;
}
.pay .container .Describtion h1{
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: bold;
}
.pay .container .Describtion h2{
  color: var(--primary-color);
  margin-top: .5rem;
  font-size: 3rem;
}
.pay .container .image{
  width: 50%;
  max-width: 100%;
  margin-left: 4rem;
}
.checkout{
  flex-direction: column;
}
.checkout .container{
  gap: 2rem;
}
.checkout .container .Describtion h2{
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.checkout .container .Describtion h3{
  font-size: 1.2rem;
}
.checkout .container .image{
  width: 85%;
}
.checkout .more{
  text-align: center;
}
.Solution .container{
  flex-direction: column;
}
.title{
  margin-bottom: 2rem;
}
.title h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
}
.title h3{
  text-align: center;
  margin-top: 1.5rem;
}
.Solution .business{
  display: flex;
}
.Solution .business ul{
  padding: 10rem 2rem;
}
.Solution .business ul li{
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.cards .container{
  flex-direction: column;
}
.cards .container .images{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.cards .container .images img{
  width: 17rem;
}
.cards .container p {
  text-align: center;
}